.paper {
  margin-top: 2rem;
  padding: 2rem;
  text-align: left;

  .divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}
