.paper {
  padding: 2rem 1rem;
}

.canvasWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.canvas {
  width: 100%;
  padding: 0 1rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
}

.formGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 35px;
  align-items: center;
  justify-content: center;

  > label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.submitButton {
  width: 100%;
  max-width: 13.2rem;
  margin-top: 25px;
  padding: 0.9rem;
}

.line {
  width: 3rem;
  border: 1px solid red;
  height: 0;
  margin-right: 0.5rem;
}
