.authPage {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  height: 100vh;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

  .paper {
    padding: 1.5rem;
    text-align: center;

    .title {
      padding-bottom: 1.5rem;
    }

    .form {
      display: flex;
      flex-direction: column;

      & > * {
        margin-bottom: 1rem;
      }

      .submit {
        margin-top: 0.5rem;
      }
    }

    .bottomBlock {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .link {
      margin-right: 3%;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
